<div class="container">
  <div >
    <h1 class="text-center">Eat-da-Burger!</h1>
  </div>

<div>
  <img class="center-block" src="http://pngimg.com/upload/burger_sandwich_PNG4145.png" alt="Burger View" style="width:200px;height:150px; ">
</div>

<div class="form-group center_div">
    <form action="burger/create" method="POST" class="navbar-form navbar-center create-update-form" > 
    <div class="center_div">

      <input type="text" class=" center-block input-lg" id="ca" name="burger_name" >
   
        
        <button type="submit" class="devourButton btn btn-primary center-block">Add Burger</button>
           </div>   
    </form>
</div>

</div>








<div class="col-md-2"></div>
<div class="freshBurger col-md-4">
	<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <div>
          <form action="burger/update/{{this.id}}?_method=PUT" method="POST" class="navbar-form navbar-left">
          <div class="form-group">
              <input type="text" class="form-control" name="fresh" value={{this.burger_name}}>
          </div>
              <button type="submit" class="devourButton btn btn-danger">Devour it!</button>
          </form>
        <div>
    {{/unless}}
  {{/each}}
</ul>
</div>



<div class="burgerEaten col-md-6">
<ul>
  {{#each burger}}
    {{#if this.devoured}}

        <form action="/update/{{this.id}}?_method=POST" method="POST" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" name="fresh" value={{this.burger_name}}>
        </div>
        </form>

    {{/if}}
  {{/each}}
</ul>
</div>